@font-face {
    font-family: 'crackman';
    src: url("../../fonts/Crackman.otf");
}


* {
    --bs-body-bg: #455b7c;
    --bs-body-color: #ffffff;
    --bs-secondary: #888888;
    --bs-primary: #ffd04e;
    --bs-link-hover-color: #ffa900;
}

.btn-primary {
    --bs-btn-color: #ffd77b;
    --bs-btn-bg: #9f2f59;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #e19a00;
    --bs-btn-hover-bg: #985200;
    --bs-btn-hover-border-color: #da8e00;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #ffe494;
    --bs-btn-active-bg: #9b6a00;
    --bs-btn-active-border-color: #ff9600;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffeeb0;
    --bs-btn-disabled-bg: #14003f;
    --bs-btn-disabled-border-color: #ffd400;
}

.invalid-feedback {
    display: block;
}


body {
    background-image: url('https://images.unsplash.com/photo-1579373903781-fd5c0c30c4cd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;

}

.bg-dark-rounded-body {
    background-color: #1a1e21;
    border-radius: 20px;
    margin-top: 3vh;
    min-height: 70vh;

}

.title-with-margin {
    font-family: 'crackman', serif;
    padding-top: 4vh;
    color: #FFD77BFF;
    margin-bottom: 4vh;
    text-align: center;
    text-shadow:
            2px 2px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.title-with-margin .btn-link {
    color: #FFD77BFF;
}

.title-with-margin .btn-link:hover {
    color: #ffffff;
}


.content-padding-2-5-2{
    padding: 50px 50px 50px;
}


.btn-secondary {
    --bs-btn-color: #FFD77BFF;
    --bs-btn-bg: #1f1f1f;
    --bs-btn-border-color: #ffd77b;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #ffe991;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #ffe991;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffa900;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: #212529;
    --bs-dropdown-bg: #ffe991;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: #212529;
    --bs-dropdown-link-hover-color: #ffe991;
    --bs-dropdown-link-hover-bg: #000000;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

h1 .btn-link, h2 .btn-link, h3 .btn-link, h4 .btn-link, h5 .btn-link, h6 .btn-link{
    color: white;
}

.card{
    --bs-card-bg: #ffe991;
}

.shield-user{
    color: #ffe991;
}





