
.thumbnailGameShow{
    max-height: 70vh;
}

.logoPlatform {
    height: 5vh;
    background-color: #ffe895;
    border-radius: 5px;
    padding: 3px;
}

.logoPlatform:hover{
    background-color: #ffa13e;
}


.middle-line{
    width: 1px;
    background-color: #ffe895;
}