
.main-review-card {
    border: 1px solid #ffc107; /* Bordure jaune */
    border-radius: 1em;
    text-decoration: none;
    padding: 0.2em 0.8em;
    color: #fff;
    background: linear-gradient(to right, #111, #222); /* Dégradé gris très foncé */
    transition: background 0.3s; /* Ajout de transition pour le changement au survol */
}

.main-review-card:hover {
    background: linear-gradient(to top, #34302b, #2c1b1a); /* Nouveau dégradé au survol */
}


.review-card {
    width: 100%;
    height: 210px;
}

.review-card .review-description {
    text-justify: auto;
}

.rating-5 {
    color: red;
}

.rating-10 {
    color: coral;
}

.rating-15 {
    color: limegreen;
}

.rating-19 {
    color: forestgreen;
}

.rating-20 {
    color: green;
}
